/* ---------------------------------------------------------------------header */

#wrap header {
    position:fixed; top:0; z-index:500; transform:translateY(0);
    min-width:1920px; box-shadow:0 1px 3px rgba(0,0,0,0.1); padding:0 260px;}
#wrap header .header_bg {display:flex; justify-content:space-between; align-items:center;}
#wrap header .header_bg h1 {width:137px;}
#wrap header .header_bg h1 a {}
#wrap header .header_bg h1 a img {width:100%;}
#wrap header .header_bg nav {}
#wrap header .header_bg nav .gnb {
    display:flex; gap:60px; text-align:center;
}
#wrap header .header_bg nav .gnb li {position:relative;}
#wrap header .header_bg nav .gnb li > a {color:#fff;}
#wrap header .header_bg nav .gnb li .lnb_depth {
    /* display:flex; flex-flow:column nowrap; gap:13px; */ padding:50px 0 30px;
    position:absolute; left:50%; transform:translateX(-50%); width:120px; top:15px;
    display:none; color:#fff;
}
#wrap header .header_bg nav .gnb li .lnb_depth li {}
#wrap header .header_bg nav .gnb li .lnb_depth li a {
    color:#fff; font-size:0.875rem; font-weight:300; margin-bottom:13px; display:inline-block;}
#wrap header .header_bg nav .gnb > li .lnb_depth li a:hover {font-weight:500;}
#wrap header .header_bg nav .gnb > li:hover .lnb_depth {display:inline-block;}
#wrap header .header_bg .lang_btn {
    background:url(../images/lang_btn.png) no-repeat 93% center; color:#fff; background-size:14px;
    border:1px solid #fff; border-radius:13px; font-size:0.75rem; padding:5px 10px; width:60px;}
#wrap header .header_bg .lang_btn option {font-size:0.75rem;}
/* -----------------------------------footer */
#wrap footer {padding:60px 260px; display:flex; flex-flow:row nowrap; justify-content:space-between;}
#wrap footer .left {display:flex; flex-flow:column nowrap; gap:30px;}
#wrap footer .left .left_top {}
#wrap footer .left .left_top a {font-size:0.938rem; font-weight:500; margin-right:15px;}
#wrap footer .left .left_bottom {}
#wrap footer .left .left_bottom address {font-size:0.813rem; font-weight:300; margin-bottom:15px;}
#wrap footer .left .left_bottom p {font-size:0.813rem; font-weight:300; margin-bottom:15px;}
#wrap footer .right {display:flex; flex-flow:column nowrap; gap:30px;}
#wrap footer .right .site {border:1px solid #0061B0; width:193px; padding:10px;
    background:url(../images/site_btn.png) no-repeat 165px center / 15px;
}
#wrap footer .right .site option {font-size:0.938rem; font-weight:500;}
#wrap footer .right a {width:190px; display:inline-block;}
#wrap footer .right a img {width:100%;}