body * {transition:all 0.2s;}
body {max-width:1920px;}
#wrap {}
#wrap main {text-align:center;}
/* ----------------------------------------------배너 */
#wrap main .bnr_bg {
    background:url(../images/bnr.jpg) no-repeat center / cover; width:100%; height:963px; display:block; padding-top:420px;}
#wrap main .bnr_bg p:first-child {color:#fff; font-size:2rem; font-weight:500;}
#wrap main .bnr_bg p:last-child {color:#fff; font-size:1.125rem;}
#wrap main .bnr_bg h1 {
    font-size:5.25rem; font-family: "Racing Sans One", sans-serif;
    color:#0061B0; text-shadow:2px 2px 0 #fff; padding:10px 0 30px;
}